<div class="page">


<header>

<button>
←
</button>


<h2>
Welcome Mom!
</h2>


<img src="assets/profile.jpg">


</header>


<h1>
Untitled Entry
</h1>


<div class="toolbar">

<button>
🖼️
</button>

<button>
🖍️
</button>


<button>
🗑️
</button>


</div>


<div class="entry-area">


<p>
What Motor Skills did your baby learn today?
Check all that apply:
</p>


<label>
<input type="checkbox" checked>
Brings hand to mouth
</label>


<label>
<input type="checkbox" checked>
Moves arms
</label>


<label>
<input type="checkbox" checked>
Holds small objects
</label>


<label>
<input type="checkbox" checked>
Reaches for toys
</label>


</div>


<button class="achievement">

✓ Your baby is leveling up!

</button>

<app-bottom-navbar></app-bottom-navbar>



</div>