nav {

position:fixed;
bottom:0;
left:0;

width:100%;

display:flex;
justify-content:space-around;

background:white;

padding:15px 0;

border-top:1px solid #ddd;

}


button {

border:none;
background:none;
font-size:22px;

}