<div class="page">

<header>
    <button>☰</button>
    <h2>Welcome Mom!</h2>
    <img src="assets/profile.jpg">
</header>


<a routerLink="/calendar">Open Calendar</a>

<h1>Baby Diary Dashboard</h1>

<app-calendar-widget
  [events]="[]"
  (dateSelected)="onDateSelected($event)">
</app-calendar-widget>

<div class="selected-date">

<p>
Date Selected: September 9, 2025
</p>

<button class="journal-btn">
📄➕
</button>

</div>


<div class="last-entry">
Last Journal Entry: August 28, 2025
</div>


<div class="baby-message">

👶

<p>
You have 3 entries!
This must be your favorite day!
</p>

</div>


<app-bottom-navbar></app-bottom-navbar>

</div>