<div class="page">

<header>
    <button>☰</button>
    <h2>Welcome Mom!</h2>
    <img src="assets/profile.jpg">
</header>

<div class="calendar-card">

<div class="month">

<button>&lt;</button>

<select>
<option>Sep</option>
</select>

<select>
<option>2025</option>
</select>

<button>&gt;</button>

</div>


<div class="weekdays">
<span>Su</span>
<span>Mo</span>
<span>Tu</span>
<span>We</span>
<span>Th</span>
<span>Fr</span>
<span>Sa</span>
</div>


<div class="days">

<button>1</button>
<button>2</button>
<button>3</button>
<button>4</button>
<button>5</button>
<button>6</button>

<button>7</button>
<button>8</button>

<button class="selected">9</button>

<button>10</button>
<button>11</button>
<button>12</button>

<button class=>13</button>

<button>12</button>
<button>12</button>
<button>12</button>
<button>12</button>
<button>12</button>
<button>12</button>
<button>12</button>
<button>12</button>
<button>12</button>
<button>12</button>
<button>12</button>
<button>12</button>
<button>12</button>
<button>12</button>
<button>12</button>
<button>12</button>
<button>12</button>


</div>


<div class="selected-date">

<p>
Date Selected: September 9, 2025
</p>

<button class="journal-btn">
📄➕
</button>

</div>


<div class="last-entry">
Last Journal Entry: August 28, 2025
</div>

</div>


<div class="baby-message">

👶

<p>
You have 3 entries!
This must be your favorite day!
</p>

</div>


<app-bottom-navbar></app-bottom-navbar>

</div>